{% extends  "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'tasks/styles.css' %} ">
<div class =" justify-content-center align-items-center">  
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<title>Prioritize</title>
<h1>Login</h1>
<br>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td class="tcolor">{{ form.username.label_tag }}  </td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td class="tcolor">{{ form.password.label_tag }}  </td>
    <td>{{ form.password }}</td>
</tr>
</table>

<br>
<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<br>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
<p><a href="{% url 'signup' %}">Sign Up</a></p>
</div>
{% endblock %}
